/* client/src/components/Sidebar.css */
.sidebar {
  width: 250px;
  background-color: #ff99cc;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  transition: width 0.3s;
  padding-top: 20px;
}

.sidebar.closed {
  width: 50px;
}

.toggle-btn {
  background-color: #fff;
  border: none;
  width: 100%;
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.nav-link {
  color: #fff !important;
  padding: 10px 20px;
  font-size: 18px;
}

.nav-link:hover {
  background-color: #ff66b2;
}